// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$yellow: #f1f51a;
$mid-gray: #c2c2c2;
$green: #27af27;
$button-green-color: #407a57;

// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
