// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$yellow: #e7eb1bf3;
$smooth-black: #302f2f;
$mid-gray: #cecdcd;
$green: #3dc93dc0;
$button-green-color: #407a57;

// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
